@using FlashCards.Models;
@page "/"


<h1>Hello, world!</h1>

Welcome to your new app.

@foreach (var deck in Decks)
{
    <p>@deck.DeckId</p>
    <p>@deck.DeckName</p>
    <p>@deck.DeckDescription</p>

    <div style="padding-left:50px;">
        @foreach (var card in deck.Cards)
        {
            <p>@card.CardId</p>
            <p>@card.Term</p>
            <p>@card.Definition</p>
            <p>@card.Correct</p>

        }
    </div>
}

@code{
    public List<Deck> Decks { get; set; } = new List<Deck>();

    protected override void OnInitialized()
    {
        for (int i = 0; i < 5; i++)
        {
            Deck deck = new Deck(i, $"C# questions {i}", $"A deck about {i}");

            for (int x = 0; x < i; x++)
            {
                Card card = new Card(x, $"{x} term", $"{x} definition");
                deck.Cards.Add(card);
            }


            Decks.Add(deck);


        }
    }

}